[submodule "2_react_components/2_react_components/react-components-props-vite-lab"]
	path = 2_react_components/2_react_components/react-components-props-vite-lab
	url = git@github.com:nrathbone-turing/react-components-props-vite-lab.git
[submodule "3_react_app_structure_and_design/3_react_app_structure_and_design/lab-product-dashboard-vite"]
	path = 3_react_app_structure_and_design/3_react_app_structure_and_design/lab-product-dashboard-vite
	url = https://github.com/nrathbone-turing/lab-product-dashboard-vite
[submodule "4_event_handlers_in_react/4_event_handlers_in_react/react-event-handling-vite-lab"]
	path = 4_event_handlers_in_react/4_event_handlers_in_react/react-event-handling-vite-lab
	url = https://github.com/nrathbone-turing/react-event-handling-vite-lab
[submodule "5_state_foundations/5_state_foundations/lab-react-hooks-state"]
	path = 5_state_foundations/5_state_foundations/lab-react-hooks-state
	url = https://github.com/nrathbone-turing/lab-react-hooks-state
[submodule "7_state_management/react-hogwild-vite"]
	path = 7_state_management/react-hogwild-vite
	url = https://github.com/nrathbone-turing/react-hogwild-vite
[submodule "4_mod/6_controlled_forms/technical-lesson-react-forms"]
	path = 4_mod/6_controlled_forms/technical-lesson-react-forms
	url = https://github.com/nrathbone-turing/technical-lesson-react-forms
